<div class="backdrop is-hidden">
  <div class="modal__box">
    <button type="button" class="modal__close-button" data-action="close">
      <svg class="modal__icon-close">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <!-- <svg>
    <filter id="wavy">
      <feTurbulence
        x="0"
        y="0"
        baseFrequency="0.02"
        numOctaves="5"
        seed="2"
        result="wavy"
      >
        <animate
          attributeName="baseFrequency"
          dur="100s"
          values="0.02;0.05;0.02"
          repeatCount="indefinite"
        ></animate>
      </feTurbulence>
      <feDisplacementMap in="SourceGraphic" scale="30"></feDisplacementMap>
    </filter>
  </svg> -->
</div>
