<section class="gallery">
  <h1 class="title visually-hidden">Movie Gallery</h1>
  <div class="container">
    <div class="library-empty js-queue-text" style="display: none">
      <h3 class="library-empty__title">QUEUE is empty...</h3>
      <p class="library-empty__text">There's nothing in the QUEUE yet.</p>
      <p class="library-empty__text">
        Select a movie and add it to your library for quick access to your
        favorite movies!
      </p>
    </div>

    <div class="library-empty js-watched-text">
      <h3 class="library-empty__title">WATCHED is empty...</h3>
      <p class="library-empty__text">There's nothing in the WATCHED yet.</p>
      <p class="library-empty__text">
        Select a movie and add it to your library for quick access to your
        favorite movies!
      </p>
    </div>

    <ul class="gallery-list"></ul>

    <ul class="pagination"></ul>

    <button type="button" class="clear-library-btn">
      clear list
      <svg class="clear-library-svg" width="30" height="30">
        <use href="./images/icons.svg#icon-clear"></use>
      </svg>
    </button>
  </div>
</section>
